<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>{% block title %}Musée Du Louvre{% endblock %}</title>

	    {% block stylesheets %}
	      {# On charge le CSS de bootstrap depuis le site directement #}
	      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    {% endblock %}
	</head>
	<body>
		<h1>Réservation</h1>
		<a href="{{ path('projet_platform_del', { 'id': reservation.id }) }}" class="btn btn-danger">
            Supprimer
        </a>
        {% set priceUp = price / 100 %}
		<a href="{{ path('projet_platform_billing', { 'id': reservation.id }) }}" class="btn btn-danger">
            Valider {{ priceUp }}
        </a>
	</body>
</html>