{% extends "PROJETCoreBundle::layout.html.twig" %}

{% block body %}
	<div>
      <a href="{{ path('projet_platform_add') }}" class="btn btn-danger">
        Réservation en ligne 
      </a>
    </div>
{% endblock %}