html,body{
  height:100%;
}

#body
{
}

#footer
{
    display: none;
}

#content
{
    margin-top: 20px;
}

#titre
{
    display: none;
}

#corp
{
    background-color: white;
    padding: 10px;
    margin-right: 100px;
    border: 2px #AF6A1B solid;
    border-radius: 10px;
}

.formLi
{
    background-color: #EBEBEB;
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    border: 2px #DADADA solid;
    border-radius: 10px;
}

.ticketLi
{
    background-color: #EBEBEB;
    list-style: none;
    padding: 10px;
    margin: 10px;
}

/*-------------génération de billets-------------*/

#bill
{
    background-color: #EBEBEB;
    list-style: none;
    padding: 10px;
    margin: 10px;
}

#projet_platformbundle_reservation_date
{
    display: block;
    margin: auto;
}

#projet_platformbundle_reservation_email
{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.addTicket
{
    list-style: none;
    display: block;
    margin-left: -40px;
}

/*-------------billets-------------*/

.lastName
{
    display: block;
    margin: auto;
}

.firstName
{
    display: block;
    margin: auto;
}

.country
{
    display: block;
    margin: auto;
}

.birthDate
{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
