#body
{
	background-image: url(https://www.sortiraparis.com/images/2/18029/255462-les-jeunes-ont-la-parole-la-nocturne-au-musee-du-louvre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#corp
{
	background-color: white;
	padding: 10px;
	margin: 10px;
}

.formLi
{
	background-color: #EBEBEB;
	list-style: none;
	padding: 10px;
	margin: 10px;
}